@{
    ViewData["Title"] = "Home Page";
}

<!-- start banner Area -->
<section class="banner-area">
	<div class="container">
		<div class="row fullscreen align-items-center justify-content-start" style="height: 573px !important;">
			<div class="col-lg-12">
				<div class="active-banner-slider owl-carousel">
					<!-- single-slide -->
					<div class="row single-slide align-items-center d-flex">
						<div class="col-lg-5 col-md-6">
							<div class="banner-content">
								<h1>Quench <br>Your Thirst!</h1>
								<p>
									Discover a refreshing oasis of flavor, where every sip is an adventure. From revitalizing energy drinks to soothing teas, our diverse selection of beverages is curated to satisfy every craving. Not sure where to start? Well you can truly never go wrong with Coca-Cola.
								</p>
								<div class="add-bag d-flex align-items-center">
									<a class="add-btn" href="~/Products/Details/2"><span class="lnr lnr-cross"></span></a>
									<span class="add-text text-uppercase">Add to Bag</span>
								</div>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="banner-img">
								<img class="img-fluid" src="~/img/coca-cola 2 img.png" alt="Glass filled with Coca Cola">
							</div>
						</div>
					</div>
					<!-- single-slide -->
					<div class="row single-slide">
						<div class="col-lg-5">
							<div class="banner-content">
								<h1>Taste All <br>23 Flavors!</h1>
								<p>
									Did you know that the unmatched taste of Dr Pepper was developed by combining 23 flavors together into a unique blend? That is how the iconic taste of Dr Pepper that millions love came to be! Check out Dr Pepper for yourself!
								</p>
								<div class="add-bag d-flex align-items-center">
									<a class="add-btn" href="~/Products/Details/7"><span class="lnr lnr-cross"></span></a>
									<span class="add-text text-uppercase">Add to Bag</span>
								</div>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="banner-img">
								<img class="img-fluid" src="img/Dr Pepper Hero Img.png" alt="Tasty bottle of Dr Pepper.">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->
<!-- start features Area -->
<section class="features-area section_gap">
	<div class="container">
		<div class="row features-inner">
			<!-- single features -->
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-features">
					<div class="f-icon">
						<img src="img/features/f-icon1.png" alt="">
					</div>
					<h6>Fast Shipping</h6>
					<p>Fast shipping on all orders</p>
				</div>
			</div>
			<!-- single features -->
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-features">
					<div class="f-icon">
						<img src="img/features/f-icon2.png" alt="">
					</div>
					<h6>Auto-Order</h6>
					<p>Setup auto-orders simply</p>
				</div>
			</div>
			<!-- single features -->
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-features">
					<div class="f-icon">
						<img src="img/features/f-icon3.png" alt="">
					</div>
					<h6>24/7 Support</h6>
					<p>We are always here to help</p>
				</div>
			</div>
			<!-- single features -->
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-features">
					<div class="f-icon">
						<img src="img/features/f-icon4.png" alt="">
					</div>
					<h6>Secure Payment</h6>
					<p>Safe and secure payments</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end features Area -->
<!-- Start category Area -->
<section class="category-area mb-3">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-12">
				<div class="row">
					<div class="col-lg-8 col-md-8">
						<div class="single-deal">
							<div class="overlay"></div>
							<img class="img-fluid w-100" src="img/Water Image.jpg" alt="Water">
							<a href="img/category/c1.jpg" class="img-pop-up" target="_blank">
								<div class="deal-details">
									<h6 class="deal-title">The Best Water</h6>
								</div>
							</a>
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<div class="single-deal">
							<div class="overlay"></div>
							<img class="img-fluid w-100" src="img/Discounts.jpg" alt="Digital Shopping Cart Icon">
							<a href="img/category/c2.jpg" class="img-pop-up" target="_blank">
								<div class="deal-details">
									<h6 class="deal-title">Unmatched Prices</h6>
								</div>
							</a>
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<div class="single-deal">
							<div class="overlay"></div>
							<img class="img-fluid w-100" src="img/Smiling-face.jpg" alt="Yellow Smiling Face">
							<a href="img/category/c3.jpg" class="img-pop-up" target="_blank">
								<div class="deal-details">
									<h6 class="deal-title">Happy Customers</h6>
								</div>
							</a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8">
						<div class="single-deal">
							<div class="overlay"></div>
							<img class="img-fluid w-100" src="img/Tea-drinking.jpg" alt="Lady taking a sip of tea with a sunset in the background">
							<a href="img/category/c4.jpg" class="img-pop-up" target="_blank">
								<div class="deal-details">
									<h6 class="deal-title">Tea That's Unmatched</h6>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-deal">
					<div class="overlay"></div>
					<img class="img-fluid w-100" src="img/Soda-img.jpg" alt="Soda">
					<a href="img/category/c5.jpg" class="img-pop-up" target="_blank">
						<div class="deal-details">
							<h6 class="deal-title">The Most Loved Soda's Around the World!</h6>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End category Area -->
<!-- Start related-product Area -->
<section class="related-product-area section_gap_bottom">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 text-center">
				<div class="section-title">
					<h1>Favorites of the Month</h1>
					<p>
						Have a look at some of our favorite products for this month
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-9">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
						<div class="single-related-product d-flex">
							<a class="bg-light" href="~/Products/Details/8"><img src="~/img/t_30ba1b49-7ec5-4e89-85d8-35a2b3eda89b.png" alt="Sprite"></a>
							<div class="desc">
								<a href="~/Products/Details/8" class="title">Sprite</a>
								<div class="price">
									<h6>$4.50</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
						<div class="single-related-product d-flex">
							<a class="bg-light" href="~/Products/Details/15"><img src="img/t_16474d93-60ed-4640-a4bd-8701ec7cbc19.png" alt="Gatorade Endurance Bottle"></a>
							<div class="desc">
								<a href="~/Products/Details/15" class="title">Gatorade Endurance</a>
								<div class="price">
									<h6>$4.95</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
						<div class="single-related-product d-flex">
							<a class="bg-light" href="~/Products/Details/6"><img src="img/t_535fecc7-1f91-429c-843f-5755746f0f9e.png" alt="Pepsi"></a>
							<div class="desc">
								<a href="~/Products/Details/6" class="title">Pepsi</a>
								<div class="price">
									<h6>$4.99</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
						<div class="single-related-product d-flex">
							<a class="bg-light" href="~/Products/Details/7"><img src="img/t_5202bc25-2ce8-4f11-a849-6d457fecefc3.png" alt="Dr Pepper"></a>
							<div class="desc">
								<a href="~/Products/Details/7" class="title">Dr Pepper</a>
								<div class="price">
									<h6>$5.59</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
						<div class="single-related-product d-flex">
							<a class="bg-light" href="~/Products/Details/14"><img src="img/t_9d7a175b-f71b-46f0-aa65-be75076a4496.png" alt="Starbucks Bottled Frappuccino Mocha"></a>
							<div class="desc">
								<a href="~/Products/Details/14" class="title">Starbucks Frappuccino Mocha</a>
								<div class="price">
									<h6>$5.95</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
						<div class="single-related-product d-flex">
							<a class="bg-light" href="~/Products/Details/"><img src="img/t_59e55319-01a1-4653-b327-6834e2b48180.png" alt="Coca Cola"></a>
							<div class="desc">
								<a href="~/Products/Details/" class="title">Coca Cola</a>
								<div class="price">
									<h6>$2.99</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="single-related-product d-flex">
							<a class="bg-light" href="~/Products/Details/2"><img src="img/t_5ac7d993-4724-4f8a-b15c-0d1625af7584.png" alt="Pure Leaf Sweet Tea"></a>
							<div class="desc">
								<a href="~/Products/Details/2" class="title">Pure Leaf Sweet Tea</a>
								<div class="price">
									<h6>$4.29</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="single-related-product d-flex">
							<a class="bg-light" href="~/Products/Details/11"><img src="img/t_a7a3f9ee-6abd-48a1-a441-6a59293655fd.png" alt="Aquafina Bottled Water"></a>
							<div class="desc">
								<a href="~/Products/Details/11" class="title">Aquafina Water</a>
								<div class="price">
									<h6>$19.99</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="single-related-product d-flex">
							<a class="bg-light" href="~/Products/Details/9"><img src="img/t_dfd43f12-20c2-4ce3-81ee-5903e3a9b748.png" alt="Red Bull"></a>
							<div class="desc">
								<a href="~/Products/Details/9" class="title">Red Bull</a>
								<div class="price">
									<h6>$6.79</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="ctg-right">
					<a href="#" target="_blank">
						<img class="img-fluid d-block mx-auto" src="img/Our Favorites.jpg" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End related-product Area -->